# Sample CODEOWNERS File

# Default CODEOWNERS
*       @repo-githubadmins

# Top-level directory
/docs/  @documentation-githubteam
/tests/ @testing-githubteam

# Backend code
/backend/               @backend-githubteam @frontend-githubteam @code-review-githubteam

# Frontend code
/frontend/              @frontend-githubteam @backend-githubteam @testing-githubteam @api-githubteam @repo-githubadmins

# Configuration files
/config/                @devops-githubteam @api-githubteam

# Scripts
/scripts/               @automation-githubteam

# Code review specialists
*.js                    @code-review-githubteam @backend-githubteam 
*.css                   @code-review-githubteam
*.py                    @code-review-githubteam @frontend-githubteam

# Database related code
/database/              @db-admins @code-review-githubteam @api-githubteam

# API related code
/api/                   @api-githubteam
